*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: lightblue;
    padding: 10px;
    position: fixed;
    top:0;
    width: 100%;
    height: 10%;
    
}

.nome{
    text-align: center;
    padding: 10px;
    
}


.menu{
    margin-top: 10px 0;
    background-color: #03467b;
    padding: 15px;
    position: fixed;
    width: 100%;
   
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
   font-size: 20px;
}

#selected {
    background-color: lightblue;
}

#profile-picture{
    width: 170px;
    height: 200px;
    border-radius: 110px;
}

.main{
    padding: 90px;;
}

.main h2 {
    padding: 18px
}

.main ul{
    display: grid;
   
}

.footer{
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    width: 100%
}


